body {
	margin: 2em 5%;
	font-family: 'Raleway', sans-serif;	
	background: #ddf3fc;
	}
h2, h3{
	  color: #161310;
	  font-family: 'Cinzel', serif;
	}
h1 {
	  font-family: 'Cinzel', serif;
	  text-align: center;
	  border-bottom: 1px solid #e4740d;
	  margin-top: 30px;
	  color: #b16e51;

	}
h2 {
	  font-size: 1.5em;

	}
a {
  text-decoration: none;
}
a:visited {
	color: #9e520a;
}
a:hover {
	color: #9e520a;
	background-color: #ddf3fc;
}
a:active {
	color: #9e520a;
}
footer {
	  border-top: 1px solid #57b1dc;
	  text-align: center;
	  padding-top: 1em;
	}
footer img{
	  width: 40px;
	  height: 40px;
	  margin-left: .5em;
	  margin-right: .5em;
	}
img{
	max-height: 100%;
	}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
.class{
	font-size: large;
	margin-left: 100px;
}
.float{
	float: right;
	margin: 0 12px;
}
#button{
	margin-top: 50px;
	margin-bottom: 50px;
}